*{ 
  box-sizing:border-box; 
  margin:0; 
  padding:0;  
}

html, body {
  height: 100%;
}

body{ 
  font-family: "Montserrat", sans-serif; 
  background-color: #1da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor{
    width: 640px;
    height: 246px;
    padding: 20px;

    background-color: rgb(255, 255, 255);
    border-radius: 5px;

    box-shadow:
    0 12px 15px rgba(52, 66, 97, 0.08),
    0 12px 15px rgba(40, 36, 65, 0.08);
}

.foto-perfil{
    height: 45px;
    width: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 20px;
}
.nombre{
    font-size: 20px;
}
.usser{
    font-size: 14px;
    color: rgb(108, 108, 108);
}

main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tweet{
    font-size: 16px;
}
.fecha{
    font-size: 12px;
    color: rgb(108, 108, 108);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.status{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.retweet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    gap: 15px;
    font-size: 14px;
}

.acciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 14px;

}
