*{ box-sizing:border-box; margin:0; padding:0; }
html, body { height: 100%; }


body{
  font-family: "Roboto", sans-serif;
  background: #fff;
}

/* Barra y título 
.topbar{
  background-color: black;
  height: 1.5rem;
  font-size: 0.7rem;
  text-align: center;
  color: white;
}*/

h1{
  background-color: rgb(228, 36, 36);
  color: #ffffff;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.1;
  padding: 2rem;
  text-align: center;
}

/* Contenedor de cards */
.contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  gap: 32px;
  max-width: 1100px;
  margin: 50px auto;        /* centra el bloque */
  padding: 0 16px;
  position: relative;
}

/* Card */
.card{
  background-color: #fff;
  width: 300px;        
  height: 450px;
  gap: 1rem;
  border-radius: 15px;
  box-shadow: 0 8px 10px rgba(40, 36, 65, 0.08);
  overflow: hidden;         /* ← recorta portada dentro de las esquinas */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

/* Portada (franja superior) */
.portada{
  width: 100%;
  height: 140px;            /* alto de la franja */
  object-fit: cover;
  display: block;
}

/* Avatar */
.perfil{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid #fff;  
  position: absolute; top: 85px;
}

/* Iconos */
.like-blanco, .like{
  width: 40px;
}
.like-blanco, .like{
  position: absolute;  
  top: 18px;            /* distancia desde arriba */
  left: 15px;           /* distancia desde la izquierda */
}

/* Texto */
h2{
  font-weight: 700;
  font-size: 1.1rem;
  color: #1f1f1f;
  text-align: center;
  padding: 0 20px;
  position: relative;
  top: 35px;
}

p{
  font-weight: 300;
  font-size: 0.8rem;
  color: #1f1f1f;
  text-align: center;
  line-height: 1rem;
  padding: 0 20px 16px;
  position: relative;
  top: 35px;
}

/* Botón */
button{
  background: rgb(66, 66, 243);
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 10px 16px;
  border: none;
  border-radius: 1rem;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
  transition: all 0.3s ease;   /* 🔑 suaviza cambios */
}

/* Hover: cuando pasas el mouse */
button:hover {
  background: rgb(44, 44, 211); 
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* Active: cuando lo clickeas */
button:active {
  transform: translateY(0); 
  box-shadow: 0 3px 6px rgba(0,0,0,0.15); 
}